/* Estilp del titulo principal de arriba */
#principal {
	/* Tamaño de letra */
	font-size: 50px;
	/* Fondo de letra */
	background-color:#0FFF45;
	/* Color de letra*/ 
	color:#7416AD;
	text-align: center;
	background-image: url("Imagenes/musica.jpg");
 
{
/* Atributo id */
#mitexto {
	/*Tamaño de letra */
	font-size. 35aprox,
	/* Fondo de letra */
	/* Color de letra*/ 
	color:#7416AD;
	text-align: center;
}

/* Atributo class */

#mitexto2 {

	/*Tamaño de letra */
	font-size. 60aprox,
	/* Fondo de letra */
	/* Color de letra*/ 
	color:#FFEA00;
	text-align: center;
}

#segundo {
	/*Tamaño de letra */
	font-size. 50aprox,
	/* Fondo de letra */
	/* Color de letra*/ 
	color:#0F49FF;
	text-align: center;
}
#cambio {
	font-family: Verdana, sans-serif;
	font-size:26px;
	color:#DC00FF
	}
html { 
  background-color: #FFE400;
}

html { 
  background-color: #FFE400;
}

#imagen {
		width: 50%;
		border-imae-slice: 29;
		border-image-repeat: strech;
		box-shadow: rgb (150, 150, 150) 10prox 10px 20px 10px 
	}








